@model ExpensesManagment.Web.Models.TripViewModel

<div class="form-group">
    <label asp-for="CityVisited" class="control-label"></label>
    <input asp-for="CityVisited" class="form-control" />
    <span asp-validation-for="CityVisited" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="StartDate" class="control-label"></label>
    <input asp-for="StartDate" class="form-control" />
    <span asp-validation-for="StartDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EndDate" class="control-label"></label>
    <input asp-for="EndDate" class="form-control" />
    <span asp-validation-for="EndDate" class="text-danger"></span>
</div>